b {
    margin-left: auto;
    margin-right: 5px;
}

img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-radius: 0px;
    transition-property: background-color, box-shadow, border-radius;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover {
    background-color: rgba(3, 137, 226, 0.83);
    border-radius: 50px;
    box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.65);
}

.name {
    text-align: left;
    width: 180px;
}
.number {
    width: 160px;
    text-align: right;
    font-weight: bold;
}
.wrapper {
    display: flex;
    align-items: center;

    padding: 8px 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: #f44336;
}

.btn:hover {
    background-color: #e2e5e8;
}

.btn:active {
    background-color: #bdbdbd;
}
