.app {
    position: relative;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h1,
h2 {
    margin: 20px 0;
}

.contactsBox {
    color: #282c34;
    padding: 20px;
    width: 450px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(108, 168, 224);
    border: 3px double rgba(28, 110, 164, 0.83);
    border-radius: 50px;
    box-shadow: 5px 4px 9px 0px rgba(0, 0, 0, 0.65);
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
