.list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    list-style-type: circle;
    overflow-y: auto;
    overflow-x: hidden;
}
.item {
    display: flex;
    margin: 10px;
    padding: 10px 10px;
    justify-content: space-between;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgb(94, 160, 221);
}
::-webkit-scrollbar-thumb {
    background: rgba(5, 79, 129, 0.83);
}
